# vim swap files
*.swp

# .orig files
*.orig

# Code for testing purposes
#hamiltonian_fast.py

# Compiled python code
__pycache__/*

# Standard output of GUMShell
jvalues.txt
basis.txt
basis_truncated.txt
Hamiltonian.txt
eigenvalues.txt
eigenvectors.txt
eigenvalues*.txt

#trash SM-Calc stuff
trash/
spdf/
